body {
    padding-top: 70px;
}

.marker {
    margin-right: 5px;
}

.c_category-wrap,
.c_subCategory-wrap,
.c_speciality {}

.c_category,
.c_subCategory,
.c_speciality {
    display: block;
}

.c_category-wrap {
    padding: 0;
    border: 1px solid grey;
    border-bottom-color: transparent;
    overflow: hidden;
}

.c_category {
    padding: 20px;
}


.c_category.active {
    background-color: pink;
}

div.c_results-wrap > div.c_category-wrap:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

div.c_results-wrap > div.c_category-wrap:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-color: grey;
}

.c_subCategory {}

.c_speciality {}