<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Search Rome Codes</h4>
            </div>
            <div class="panel-body">
                <form class="form-inline" action="{{'/#/'+searchTerms}}">
                    <div class="form-group">
                        <label for="codeSearch" class="form-label">Display Code Rome Data:</label>
                        <input type="text" id="codeSearch" class="form-control" placeholder="Code ROME..." ng-model="searchTerms">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" role="button" >Display</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>