<div class="row" ng-controller="pageCtrl">
    <div class="col-sm-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Code ROME</th>
                    <th>Intitulé emploi</th>
                    <th>Niveau d'emploi</th>
                    <th>Tranche de salaire</th>
                    <th>Type de candidature</th>
                    <th>Temps avant de trouver un emploi</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in processedData">
                    <td ng-bind="data.CodeROME"></td>
                    <td ng-bind="data.Intitulé_emploi"></td>
                    <td ng-bind="data.Niveau_emploi"></td>
                    <td ng-bind="data.Classe_rémuneration_mensuelle"></td>
                    <td ng-bind="data.Mode_obtention"></td>
                    <td ng-bind="data.Durée_accès"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>