<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Diplome: {{ vm.specialityDiplome }}</h3>
        <p>Statistiques des enquetes</p>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6" ng-repeat="chart in vm.chartData">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{chart.series | underscore}}</h4>
                    </div>
                    <div class="panel-body">
                        <canvas id={{chart.series}} class="chart chart-pie" data="chart.data" labels="chart.labels" legend="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <a href="unice/{{vm.searchTerm}}" target="_blank" class="btn btn-info btn-lg">Uni Fiche</a>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Les metiers</h3>
        <p>Il y a {{ vm.numOfResults }} metiers different qui sont accessibles par cette diplome: {{ vm.specialityDiplome }}</p>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Intitulé ROME</th>
                    <th>ROME Niveau 1</th>
                    <th>ROME Niveau 2</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="career in vm.sortedDataArr | limitTo: vm.limit">
                    <td>{{ career[0].Intitulé_ROME }}</td>
                    <td>{{ career[0].ROME_niveau_1_lib }}</td>
                    <td>{{ career[0].ROME_niveau_2_lib }}</td>
                    <td>{{ career.length }}</td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12 text-center">
            <a class="btn btn-info btn-lg" ng-hide="vm.limit >= vm.numOfResults"  ng-click="vm.limit = vm.numOfResults">Voir Tout</a>
            <a class="btn btn-info btn-lg" ng-hide="vm.numOfResults <= 5 ||  vm.limit < vm.numOfResults" ng-click="vm.limit = 5">Voir Meilleur</a>
        </div>
        
    </div>
</div>