<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Bienvenue à CareerPlus</h1>
                <p>Cet interface peut répondre à 2 questions...</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6" ui-view="col1">Please enable Javascript</div>
                    <div class="col-md-6" ui-view="col2"></div>
                </div>
            </div>
        </div>
    </div>


</div>